
body {
  background-color: black; /* Set the background color for the entire body */
  margin: 0; /* Remove body margin */
  padding: 0; /* Remove body padding */
}

.app {
  text-align: center;
  color: white;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  z-index: 999;
  padding: 5px 185px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  margin: 0 auto;
  height: 150px;
  width: auto;
}

.carousel-container {
  padding-top: 170px;
}

.nav-links, .nav-links2 {
  font-size: 14px; /* or 0.875rem */
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-links2 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-links li,
.nav-links2 li {
  padding: 0 10px;
}

.nav-links a,
.nav-links2 a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a.active,
.nav-links2 a.active {
  color: #9fc9eb;
}

.car-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.footer {
  background-color: #000;
  padding: 20px;
}
